@charset "utf-8";
* {
  margin:0;
  padding:0;
  }

 .pc-head {
    background-color:#021a2d;
    height:60px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
 }

body {
    font-family:'Noto Sans JP',sans-serif;
    background-color:#f6f5f4;
 }



 .pc-side {
   background-color:#fff;
   width:30%;
   height:calc(100vh - 60px);
   text-align:center;
   overflow: hidden; 
   border-right: 5px solid #e3dfdf;
   position: relative;
 } 

 .pc-side h1 {
  background-color: #032744;
  padding: 10px;
  margin: 0;
  color: white;
  font-size: 24px;
}

 /*四角で囲んで中央配置にする*/
.pc-new-group {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

/*文字の下線を消す*/
.pc-new-group a {
  display: inline-block;
  text-decoration: none;
}


 .pc-content {
   background-color:#fff;
   width:70%;
   height:calc(100vh - 60px);
   text-align:center;
   overflow: hidden; 
   position: relative;
   overflow-y: auto; /* メッセージを縦方向にスクロール可能にする */
  }
  
  .pc-content h1 {
   position: sticky;
   top: 0;
   background-color: #032744;
   padding: 10px;
   margin: 0;
   color: white;
   font-size: 24px;
   z-index: 1;
 }
 
 /*入力フォームを下部に配置*/
 .pc-content form {
   position: fixed;
   bottom: 0;
   width: 70%;
   background-color: #cae5f8;
   padding: 15px;
   display: flex;
   margin-top: 100px;
   justify-content: center; /* 中央揃えを指定 */
 }
 
 .pc-content form textarea {
   margin-right: 10px;
   font-size: 16px;
   padding: 5px;
   width: 80%;
   height: 20px; /* 高さを指定 */
 }
 
 main{
  display: flex;
  flex-direction: row;/*サイドバーとメインコンテンツを横並びにする指定をした*/
  position: relative; 
}
 
 
  
  .pc-message {
    display: flex;
    align-items: center;
    margin: 5px;
    padding: 10px;
    border-radius: 10px;
    font-size: 16px;
    max-width: 100%;
    word-wrap: break-word;
    overflow-y: auto; /* メッセージを縦方向にスクロール可能にする */
  }
  .pc-left {
    justify-content: flex-start;
  }
  .pc-right {
    justify-content: flex-end;
  }
  .pc-left p {
    margin-left: 10px;
    max-width: 30em;
  }
  .pc-right p {
   margin-right: 10px;
   text-align: right;
   max-width: 30em;
   word-wrap: break-word;
  }
  
 .pc-push {
  height: 65px;/*formとメッセージが被らないように空白を作る*/
}



/* ここからsp画面*/
 .sp-head {
    background-color:#021a2d;
    height:60px;
    font-size: 14px;
    color: white;
    display: flex;
    align-items: center;
}

.sp-side {
  background-color:#fff;
  width:100%;
  height:calc(100vh - 60px);
  text-align:center;
  overflow: hidden; 
  position: relative;
} 

.sp-side h1 {
  background-color: #032744;
  color: white;
  font-size: 24px;
  padding: 10px;
  margin: 0;
}

/*四角で囲んで中央配置にする*/
.sp-new-group {
 position: absolute;
 bottom: 30px;
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
 border: 1px solid black;
 padding: 10px;
}

/*文字の下線を消す*/
.sp-new-group a {
 display: inline-block;
 text-decoration: none;
}



.sp-content {
  background-color:#fff;
  width:100%;
  height:calc(100vh - 60px);
  text-align:center;
  overflow: hidden; 
  position: relative;
  overflow-y: auto; /* メッセージを縦方向にスクロール可能にする */
}


.sp-content h1 {
  position: sticky;
  top: 0;
  background-color: #032744;
  padding: 10px;
  margin: 0;
  color: white;
  font-size: 24px;
  z-index: 1;
  margin-right: auto;
}

.sp-content h1 a {
  float: left;
  font-size: 16px;
  display: inline-block;
  text-decoration: none;
  color: white;
}

/*入力フォームを下部に配置*/
.sp-content form {
  position: fixed;
  bottom: 0;
  width: 100%;
  background-color: #cae5f8;
  padding: 15px 0;
  display: flex;
  justify-content: center; /* 中央揃えを指定 */
}

.sp-content form textarea {
 margin-right: 10px;
 font-size: 16px;
 padding: 5px;
 width: 80%;
 height: 20px; /* 高さを指定 */
}



.sp-message {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  max-width: 100%;
  word-wrap: break-word;
}
.sp-left {
  justify-content: flex-start;
}
.sp-right {
  justify-content: flex-end;
}
.sp-left p {
  max-width: 30em;
}
.sp-right p {
 text-align: right;
 max-width: 12em;
 word-wrap: break-word;
}

.sp-push {
  height: 65px;/*formとメッセージが被らないように空白を作る*/
}



 /* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media only screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}