@charset "utf-8";
* {
  margin:0;
  padding:0;
  }

 .pc-head {
    background-color:#75b8e8;
    height:100px;
    font-size: 28px;
    border-bottom: 3px solid rgb(205, 202, 202);
 }

body {
    font-family:'Noto Sans JP',sans-serif;
    background-color:#f6f5f4;
 }



 .pc-side {
   background-color:#fff;
   width:30%;
   height:calc(100vh - 100px);
   text-align:center;
   overflow: hidden; 
   border-right: 5px solid #e3dfdf;
   position: relative;
 } 

 .pc-side h1 {
  background-color: #cae5f8;
  color: #000;
  padding: 10px;
  margin: 0;
}

 /*四角で囲んで中央配置にする*/
.pc-new-group {
  position: absolute;
  bottom: 30px;
  left: 50%;
  transform: translateX(-50%);
  text-align: center;
  border: 1px solid black;
  padding: 10px;
}

/*文字の下線を消す*/
.pc-new-group a {
  display: inline-block;
  text-decoration: none;
}



 .pc-content {
   background-color:#fff;
   width:70%;
   height:calc(100vh - 100px);
   text-align:center;
   overflow: hidden; 
   position: relative;
 }
 
 .pc-content h1 {
  background-color: #cae5f8;
  color: #000;
  padding: 10px;
  margin: 0;
}
/*入力フォームを下部に配置*/
/*左端を50%の位置に設定し、transformプロパティを使用して、左端を中央に移動させると、フォームが中央に配置される*/
.pc-content form {
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  background-color: #cae5f8;
  padding: 15px;
  display: flex;
  justify-content: center; /* 中央揃えを指定 */
}

.pc-content form textarea {
  margin-right: 10px;
  font-size: 16px;
  padding: 5px;
  width: 80%;
  height: 20px; /* 高さを指定 */
}

  main {
    display: flex;
    flex-direction: row;/*サイドバーとメインコンテンツを横並びにする指定をした*/
    position: relative;
 }


 
 .pc-message {
   display: flex;
   align-items: center;
   margin: 5px;
   padding: 10px;
   border-radius: 10px;
   font-size: 16px;
   max-width: 100%;
   word-wrap: break-word;
 }
 .pc-left {
   justify-content: flex-start;
 }
 .pc-right {
   justify-content: flex-end;
 }
 .pc-left p {
   margin-left: 10px;
   max-width: 30em;
 }
 .pc-right p {
  margin-right: 10px;
  text-align: right;
  max-width: 30em;
  word-wrap: break-word;
 }


 
/* ここからsp画面*/
 .sp-head {
  background-color:#75b8e8;
    height:100px;
    font-size: 28px;
    border-bottom: 3px solid rgb(205, 202, 202);
}

.sp-side {
  background-color:#fff;
  width:100%;
  height:calc(100vh - 100px);
  text-align:center;
  overflow: hidden; 
  border-right: 5px solid #e3dfdf;
  position: relative;
} 

.sp-side h1 {
 background-color: #cae5f8;
 color: #000;
 padding: 10px;
 margin: 0;
}

/*四角で囲んで中央配置にする*/
.sp-new-group {
 position: absolute;
 bottom: 30px;
 left: 50%;
 transform: translateX(-50%);
 text-align: center;
 border: 1px solid black;
 padding: 10px;
}

/*文字の下線を消す*/
.sp-new-group a {
 display: inline-block;
 text-decoration: none;
}



.sp-content {
  background-color:#fff;
  width:100%;
  height:calc(100vh - 100px);
  text-align:center;
  overflow: hidden; 
  position: relative;
}

.sp-content h1 {
 background-color: #cae5f8;
 color: #000;
 padding: 10px;
 margin: 0;
}
/*入力フォームを下部に配置*/
/*左端を50%の位置に設定し、transformプロパティを使用して、左端を中央に移動させると、フォームが中央に配置される*/
.sp-content form {
 position: absolute;
 bottom: 0;
 left: 50%;
 transform: translateX(-50%);
 width: 100%;
 background-color: #cae5f8;
 padding: 15px;
 display: flex;
 justify-content: center; /* 中央揃えを指定 */
}

.sp-content form textarea {
 margin-right: 10px;
 font-size: 16px;
 padding: 5px;
 width: 80%;
 height: 20px; /* 高さを指定 */
}



.sp-message {
  display: flex;
  align-items: center;
  margin: 5px;
  padding: 10px;
  border-radius: 10px;
  font-size: 16px;
  max-width: 100%;
  word-wrap: break-word;
}
.sp-left {
  justify-content: flex-start;
}
.sp-right {
  justify-content: flex-end;
}
.sp-left p {
  max-width: 30em;
}
.sp-right p {
 text-align: right;
 max-width: 12em;
 word-wrap: break-word;
}



 /* パソコンで見たときは"pc"のclassがついた画像が表示される */
.pc { display: block !important; }
.sp { display: none !important; }
 
/* スマートフォンで見たときは"sp"のclassがついた画像が表示される */
@media screen and (max-width: 750px) {
    .pc { display: none !important; }
    .sp { display: block !important; }
}